body {
  background-color: #fffefb;
}

.wrapIn {
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.warpContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1005px;
  height: 610px;
}

.header {
  padding-bottom: 0;
  margin-bottom: 0;
  height: 60px;
  background: #fff;
}

.header a {
  padding: 0px 20px;
  height: 60px;
  color: #867f6f;
  line-height: 60px;
}

.header .content {
  width: 1005px;
  padding: 0;
    margin: 0 auto;
  background-image: none;
}

.header .topNav {
  padding-left: 0;
}

.header .topNav li {
  maring: 0;
  padding: 0;
  height: 60px;
}
.header .topNav a {
  margin-top: 0;
  height: 60px;
  line-height: 60px;
}.header .topNav li {
    float: left;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

.topNav a,
.topNav a:hover,
.topNav .selected {
  background: none;
  border: none;
}

.topNav a:hover,.topNav .selected {
    background: #f0eee8;
    border-radius: 0;
    box-shadow: none;
}

.download-banner {
  width: 100%;
  height: 610px;
  background: url(banner_bg.jpg) center top no-repeat;
}

.download-banner-title {
  width: 450px;
  height: 173px;
  background: url(banner_title.png) no-repeat;
  position: absolute;
  top: 225px;
  left: 500px;
}

.iphoneLizhi {
  background: url(6s_plus.png) no-repeat;
  width: 337px;
  height: 629px;
  position: absolute;
  left: 58px;
  top: 150px;
}

.litchiContent {
  height: 800px;
}

.litchiContent .left,
.litchiContent .right {
  width: 45%;
  height: 800px;
  position: relative;
}

.litchiContent .right img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.litchiContent .left img {
  position: absolute;
  left: 44px;
  bottom: 0;
}

.iphoneScroll {
  width: 254px;
  height: 452px;
  position: absolute;
  top: 68px;
  left: 42px;
  overflow: hidden;
}

.iphoneScroll-wrap {
  font-size: 0;
  width: 1270px;
  position: absolute;
  left: 0;
  top: 0;
}

.iphoneScroll-wrap img {
  width: 254px;
  height: auto;
}


.logo{ left:100px;    position: absolute;top:20px}

.download-btn-wrap {
  width: 1005px;
  margin: 0 auto;
  font-size:14px;    font-family: "Microsoft YaHei", "微软雅黑";
  text-align: right;
}

.bg-dark .download-btn-wrap {
  height: 160px;
}

.bg-light .download-btn-wrap {
  height: 230px;
}

.download-btn-wrap a {
  display: inline-block;
 
}
.bg-dark .download-btn-wrap a em{font-size:50px;  color: #ccc; }
.bg-dark .download-btn-wrap a { color: #999;border-radius:3px;text-decoration:none;
  margin:50px 0 0;         padding: 0 25px 13px;
border: 1px solid #eee;
}

.bg-light .download-btn-wrap a {
  margin: 80px 30px 0;

}



.bg-dark {
  
 background:#fafafa;
}

.bg-light {
 
  background:#fff; 
}

.litchiContent {
  font-family: "Microsoft YaHei", "微软雅黑"
}

.litchiContent .left .indexText {
  margin: 275px 0 0 105px;
}

.litchiContent .right .indexText {
  margin: 275px 108px 0 0;
  float: right;
}

.litchiContent p {
  color: #a9a593;
  font-size: 16px;
  line-height: 34px
}

.litchiContent img {
  width: 389px;
  height: 662px;
}

.litchiContent p.title {
  font-size: 32px;
  color: #867f6f;
  padding-bottom: 24px
}

#footer {
 
  overflow: visible;
}

#footer .left,
#footer .right {
  padding: 0;
}

#footer p{  float: right;
  font-size: 12px; padding: 43px 0 24px;
  color: #beb9b0;
  line-height: 2;
}

.footer-links {
  padding: 43px 0 24px;
}

.footer-links a {
  font-size: 14px;
  color: #907f6f;
  margin-right: 30px
}

.footer-links a:hover {
  text-decoration: underline;
}

#footer {   
  background:#fff;
}

#footer .warpContent {
  height: auto;
}

#footer .left {
  line-height: 20px;
}

#footer .attention {
  margin: 0 auto;
}

#footer .attention .title {
  font-size: 14px;
  color: #efb313;
  padding: 43px 30px 30px;
}

#footer .attention a {
  background: url(attentionIco.png) no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  position: relative;
  margin: 0 0 0 30px;
}

#footer .attention a:hover {
  background-position: 0 -41px
}

#footer a.sina_weibo_ico {
  background-position: -41px 0
}

#footer a.sina_weibo_ico:hover {
  background-position: -41px -41px
}

#footer a.tx_weibo_ico {
  background-position: -141px 0
}

#footer a.tx_weibo_ico:hover {
  background-position: -141px -41px
}

#footer a.douban_ico {
  background-position: -123px 0
}

#footer a.douban_ico:hover {
  background-position: -123px -41px;
}

#footer a.renren_ico {
  background-position: -164px 0;
  margin-right: 0;
}

#footer a.renren_ico:hover {
  background-position: -164px -41px
}

.rollover {
    width: 160px;
    height: 160px;
    padding: 12px 14px 24px;
    background: url(rollover.png) no-repeat;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/about/rollover.png");
    _background: none;
    position: absolute;
    top: -196px;
    left: -20px;
    cursor: default;
    display: none
}
.maskBackground {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=80);
    -moz-opacity: .80;
    opacity: .80;
    border-width: 0;
    z-index: 199;
    width: 100%
}
.videoWrap {
    display: none;
    position: absolute;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 2px 12px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 2px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 2px 12px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 2px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 2px 12px rgba(0, 0, 0, 0.3);
    z-index: 999;
    background: #fff;
    left: 0;
    top: 0
}
.closeBtn {
    width: 30px;
    height: 29px;
    cursor: pointer;
    overflow: hidden;
    top: -5px;
    right: -37px;
    position: absolute;
    color: #fff
}
.joinContent {
    font-size: 12px;
    font-family: "Microsoft YaHei", "微软雅黑";
    padding-top: 55px;
    color: #867f6f
}
.joinContent .leftTab {
    float: left;
    position: fixed;
    width: 165px;
    margin-left: 10px
}
.joinContent .leftTab a span {
    padding-right: 1px;
    font-family: "宋体", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun;
    color: #b6b3a3;
    font-size: 12px
}
.joinContent .leftTab a {
    color: #867f6f;
    font-size: 16px;
    line-height: 28px;
    width: 89px;
    text-align: center;
    height: 30px;
    display: block;
    margin-bottom: 3px;
}
.joinContent .leftTab a:hover,
.joinContent .leftTab a.active {
    background: #d9d5c3;
    color: #f8f6ef;
    text-decoration: none
}
.joinContent .leftTab ul a {
    font-size: 14px;
    margin-bottom: 0px;
    padding-right: 5px;
    width: 84px
}
.joinContent .rightContent {
    float: right;
    height: auto;
    min-height: 700px;
    padding-bottom: 50px;
    width: 780px
}
.joinContent p {
    font-size: 12px;
    line-height: 28px;
    margin: 0 0 10px 0;
    color: #867F6F
}
.joinContent p.title {
    font-size: 14px;
    margin: 0;
    padding-bottom: 2px
}
.joinContent .title span {
    font-size: 16px;
    background: #d8d5c4;
    padding: 3px 4px 4px 12px
}
.jobText {
    padding-bottom: 16px;
}
.jobText h3 {
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: bold
}
.joinContent .rightContent a {
    font-size: 14px;
    font-weight: bold;
    color: #867f6f
}

.sdialog.wxDialog .closeBtn {
  background-image: url(/images/download/sprite.png);
  background-position: 0px -18px;
  width: 20px;
  height: 20px;
}

.sdialog.wxDialog .title {
  background: #fdfbf4;
  border-bottom: none;
  padding: 8px 0 10px;
  margin: 0 15px;
  border-bottom: 1px solid #f2f0e5;
}

.sdialog.wxDialog .sdialogTopL,
.sdialog.wxDialog .sdialogTopR {
  background-image: url(/images/sdialog/wx_dialogBg2.png);
}

.sdialog.wxDialog .closeBtn {
  top: 14px;
}

.sdialog.wxDialog .ioscode {
  margin: 5px 0 0 0;
}

.sdialog.wxDialog .sdialogInner .dot {
  display: inline-block;
  vertical-align: middle;
  background: url(/images/download/sprite.png);
  background-position: 0px 0px;
  width: 8px;
  height: 8px;
  margin: 0 6px 0 2px;
}

#IOS_dialog .sdialogInner {
  height: 315px;
}

#IOS_dialog .sdialog-download-ios {
  display: block;
  background-image: url(/images/download/sprite.png);
  background-position: 0px -186px;
  width: 174px;
  height: 38px;
  margin: 12px 0;
}

#android_dialog .sdialogInner {
  height: 360px;
}

#android_dialog .sdialog-download-pc {
  display: block;
  background-image: url(/images/download/sprite.png);
  background-position: 0px -90px;
  width: 221px;
  height: 38px;
  margin: 10px 0 17px;
}

#android_dialog .sdialog-download-android {
  display: block;
  background-image: url(/images/download/sprite.png);
  background-position: 0px -138px;
  width: 292px;
  height: 38px;
  margin-bottom: 8px;
}

.sdialog .sdialogBtm {
  margin-top: -1px;
}


